<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="I'm a Frontend software developer who builds sites and apps that help people reach their personal and professional goals."/>
  <link rel="stylesheet" href="{{'/css/styles.css' | url | safe}}">

<script src="{{'/js/scripts.js' | url | safe}}"></script>


  <title>{{ title }}</title>
</head>
<body>

<header>
  <nav>
    <ul>
     <li><a href="/">Home</a></li>
     <a href="/writing"> <li>Writing</li></a>
     <a href="/projects"><li>Projects</li></a>
      <div class="slider-container">
    <div class="slider-icon"></div>
</div>


    </ul>
  </nav>
</header>


    <main>
      {{ content | safe }}

    </main>
   
  <footer>
  	<p>&copy; Anna Cunnane 2023</p>
 

    </ul>
  </footer>
</body>
</html>