@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");


/* Breakpoints */
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

/* Resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Colours */

:root {
  --background-light: #FFFEFA;
  --background-dark: #333333;
  --primary-light: #0068b7;
  --secondary-light: #ffcb2b;
  --primary-dark: #C0C0C0;
  --secondary-dark: #FFA500;
  --accent-dark: #3399CC;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-light);
}


/* Dark mode styles */
.dark-mode {
  background-color: var(--background-dark);
  color: var(--primary-dark);

  nav ul {
    color: var(--primary-dark);

    li:hover {
      background-color: var(--accent-dark);

    }
  }

  .display-mode-toggle {
    color: var(--primary-dark);

  }

  ;

  .secondary-button {
    color: var(--primary-dark);
    border: 2px solid var(--primary-dark);

    svg {
      fill: var(--primary-dark);
    }

    button {
      color: var(--primary-dark);
    }



  }

  .articles-list {
    li {
      border: 1px dashed var(--primary-dark);
    }
  }

  .tag,
  code {
    color: black;
  }

  .feat-projects svg,
  .project-card svg {
    color: var(--accent-dark)
  }


  .slider-icon {
    background-color: var(--primary-dark);
  }

  .slider-container {
    border: 1px solid var(--primary-dark);
  }

  .secondary-button:hover {
    background-color: var(--primary-light);

  }

  ol li {
    border: 1px dashed var(--primary-dark)
  }

  ol li:hover {
    border: 2px solid var(--primary-dark)
  }

  span {
    color: var(--accent-dark);
  }

  .socials li {
    border-bottom: var(--accent-dark) solid;
  }

  hr {
    background-image: linear-gradient(to right, var(--accent-dark), transparent);

  }

  .circle::before {
    background-color: var(--accent-dark);
  }

}

.secondary-button:hover {
  background-color: var(--secondary-dark);

}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style-type: none;
}

a {
  all: unset;
  cursor: pointer;
}


/*  Typography */

:root {
  --font-size-base: clamp(13.33px, 16px, 19.2px);
  --font-size-md: clamp(19.2px, 23.04px, 27.65px);
  --font-size-lg: clamp(23.04px, 27.65px, 33.18px);
  --font-size-xl: clamp(27.65px, 33.18px, 39.81px);
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-base);
}

h1,
h2 {
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--medium-spacing);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

caption {
  font-size: var(--font-size-sm);
}

p {
  line-height: 1.5;
}

/* Spacing */
:root {
  --small-spacing: 15px;
  --medium-spacing: 30px;
  --large-spacing: 60px;
  --x-large-spacing: 120px;
}


/* Navigation */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--medium-spacing);
  color: var(--primary-light);

}

nav ul {
  display: flex;
  gap: var(--medium-spacing);
  align-items: center;
  list-style: none;
  color: var(--primary-light);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-size: var(--font-size-sm);

  li {
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
  }

  li:hover {
    background-color: var(--secondary-light);
  }


  @media screen and (min-width: $medium-screen) {
    justify-content: flex-end;
    gap: var(--medium-spacing);
    font-size: var(--font-size-md);

  }

}

body {
  padding: var(--medium-spacing);

  @media screen and (min-width: $medium-screen) {
    padding: var(--large-spacing)
  }
}

header {
  margin-bottom: var(--medium-spacing);

}

.slider-container {
  width: 50px;
  height: 20px;
  border: 1px solid var(--primary-light);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.slider-icon {
  width: 20px;
  height: 20px;
  background-color: var(--primary-light);
  border-radius: 50%;
  transition: transform 0.3s;
  position: absolute;
}

.display-mode-toggle {
  display: flex;
  gap: 10px
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: var(--medium-spacing);
}


/* About page */


section {
  display: flex;
  flex-wrap: wrap;
}

.fixed-column {
  width: 40%;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-right: var(--medium-spacing);
  margin-bottom: var(--medium-spacing);

  h2 {
    margin-bottom: var(--medium-spacing);

  }
}

.scrollable-column {
  flex-grow: 1;
  margin-left: 50%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
  padding-top: var(--medium-spacing);

  @media screen and (min-width: $medium-screen) {
    padding-top: 0;
  }

}

/* Media query for mobile screens */
@media (max-width: 768px) {
  section {
    flex-direction: column;
  }

  .fixed-column {
    position: static;
    width: 100%;
    margin-left: 0;
  }

  .scrollable-column {
    margin-left: 0
  }
}


span {
  color: var(--primary-light);
  font-weight: bold;
}

.circle {
  margin-top: var(--small-spacing);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("/images/profile.webp");
  background-size: cover;
}

.circle::before {
  content: "";
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--primary-light);
  position: relative;
  z-index: -1;
  margin-left: 50px;
}

hr {
  height: 4px;
  background-image: linear-gradient(to right, var(--primary-light), transparent);
  border: none;
}

.socials li {
  border-bottom: #0068b7 solid;
  padding-bottom: 5px;
  width: fit-content;
  margin-bottom: var(--small-spacing);

}



ol {
  display: flex;
  gap: var(--small-spacing);
  margin: 0 auto;

  li {
    border: 1px dashed rgba(0, 104, 183, 0.8);
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
  }

  li:hover {
    border: 2px solid rgba(0, 104, 183, 0.8);

  }
}

/* Single post page */

article {
  h1 {
    font-size: var(--font-size-lg);
  }

  h2 {
    font-size: var(--font-size-md);
    margin: var(--medium-spacing) 0 var(--small-spacing);

  }

  p {
    margin-bottom: var(--small-spacing);
  }

  h1+p {
    margin-bottom: var(--medium-spacing)
  }

  ul {
    list-style-type: disc;
    margin-left: var(--small-spacing)
  }

  @media screen and (min-width: $large-screen) {
    max-width: clamp(50ch, 75ch, 100%);
  }

}

/* Articles index page  */

.articles-list {
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
  margin-bottom: var(--medium-spacing);

  li {
    display: flex;
    flex-direction: column;
    gap: var(--small-spacing);
    padding: var(--small-spacing);
    border: 1px dashed var(--primary-light);
    position: relative;

  }

  span {
    text-transform: uppercase;
    font-size: 20px;
  }

  @media screen and (min-width: $large-screen) {
    flex-direction: row;
    flex-wrap: wrap;

    li {
      flex-basis: 30%;
    }
  }

}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  width: fit-content;
  padding: 10px 10px 10px 10px;
  background-color: var(--secondary-light);
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.tag:hover {
  transform: translate(0px, -5px);
}

button {
  background-color: inherit;
  border: none;

}

.secondary-button {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: var(--medium-spacing);
  border: 2px solid var(--primary-light);
  color: var(--primary-light);
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  width: fit-content;


  button {
    width: fit-content;
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: var(--primary-light);
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;

  }

  svg {
    fill: var(--primary-light);
  }
}

.project-card svg,
.feat-projects svg {
  height: 20px;
  width: 20px;
  color: var(--primary-light);
}

.feat-projects,
.feat-posts {
  display: flex;
  gap: var(--small-spacing);
  flex-wrap: wrap;
}

.feat-projects li {
  display: flex;
  flex-direction: column;
  gap: var(--small-spacing);
}

.feat-posts h3 {
  margin-bottom: var(--small-spacing);

}


.feat-projects img {
  border-radius: 5px;
}

@media screen and (min-width: $large-screen) {
  .feat-posts li {
    max-width: 300px;
  }

}

code {
  background-color: #f2f2f2;
}