@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* Resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul, ol {
  list-style-type: none;
}

a {
  all: unset;
}

/*  Typography */
:root {
  --font-size-base: clamp(13.33px, 16px, 19.2px);
  --font-size-md: clamp(19.2px, 23.04px, 27.65px);
  --font-size-lg: clamp(23.04px, 27.65px, 33.18px);
  --font-size-xl: clamp(27.65px, 33.18px, 39.81px);
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-base);
}

h1, h2 {
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

caption {
  font-size: var(--font-size-sm);
}

/* Spacing */
:root {
  --small-spacing: 15px;
  --medium-spacing: 30px;
  --large-spacing: 60px;
  --x-large-spacing: 120px;
}

/* Navigation */
/* Elements */
span {
  color: #0068B7;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  gap: 40px;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("/images/profile.webp");
  background-size: cover;
}

.circle::before {
  content: "";
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #0068B7;
  position: relative;
  z-index: -1;
  margin-left: 50px;
}

.twitter {
  height: 24px;
  width: 24px;
  background-image: url("/images/twitter.svg");
  background-repeat: no-repeat;
}

.github {
  height: 24px;
  width: 24px;
  background-image: url("/images/github.svg");
  background-repeat: no-repeat;
}

.email {
  height: 24px;
  width: 24px;
  background-image: url("/images/mail.svg");
  background-repeat: no-repeat;
}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  min-height: 100%;
  width: 200px;
}

.main-menu a {
  display: block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded=true] {
  display: block;
  right: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded=true] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded=true] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded=true] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded=true] + .backdrop {
    position: fixed;
  }
}
/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    display: block;
  }
  .main-menu ul {
    display: flex;
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  .main-menu a {
    color: #06c;
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
}
header {
  padding: 20px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.socials {
  display: flex;
  gap: 10px;
}

footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
  padding: var(--small-spacing);
}

@media (min-width: 768px) {
  main {
    max-width: clamp(50ch, 75ch, 100%);
    margin: 0 auto;
  }
}
li {
  margin-bottom: var(--small-spacing);
}

ol {
  display: flex;
  gap: var(--small-spacing);
}

article h1 {
  font-size: var(--font-size-lg);
  margin-bottom: var(--small-spacing);
}
article h2 {
  font-size: var(--font-size-md);
  margin-bottom: var(--small-spacing);
}
article p {
  margin-bottom: var(--small-spacing);
}

/*# sourceMappingURL=styles.css.map */
