@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* Breakpoints */
/* Resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Colours */
:root {
  --background-light: #FFFEFA;
  --background-dark: #333333;
  --primary-light: #0068b7;
  --secondary-light: #ffcb2b;
  --primary-dark: #C0C0C0;
  --secondary-dark: #FFA500;
  --accent-dark: #3399CC;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-light);
}

/* Dark mode styles */
.dark-mode {
  background-color: var(--background-dark);
  color: var(--primary-dark);
}
.dark-mode nav ul {
  color: var(--primary-dark);
}
.dark-mode nav ul li:hover {
  background-color: var(--accent-dark);
}
.dark-mode .display-mode-toggle {
  color: var(--primary-dark);
}
.dark-mode .secondary-button {
  color: var(--primary-dark);
  border: 2px solid var(--primary-dark);
}
.dark-mode .secondary-button svg {
  fill: var(--primary-dark);
}
.dark-mode .secondary-button button {
  color: var(--primary-dark);
}
.dark-mode .articles-list li {
  border: 1px dashed var(--primary-dark);
}
.dark-mode .tag,
.dark-mode code {
  color: black;
}
.dark-mode .feat-projects svg,
.dark-mode .project-card svg {
  color: var(--accent-dark);
}
.dark-mode .slider-icon {
  background-color: var(--primary-dark);
}
.dark-mode .slider-container {
  border: 1px solid var(--primary-dark);
}
.dark-mode .secondary-button:hover {
  background-color: var(--primary-light);
}
.dark-mode ol li {
  border: 1px dashed var(--primary-dark);
}
.dark-mode ol li:hover {
  border: 2px solid var(--primary-dark);
}
.dark-mode span {
  color: var(--accent-dark);
}
.dark-mode .socials li {
  border-bottom: var(--accent-dark) solid;
}
.dark-mode hr {
  background-image: linear-gradient(to right, var(--accent-dark), transparent);
}
.dark-mode .circle::before {
  background-color: var(--accent-dark);
}
.dark-mode .tag:hover {
  outline: 2px solid var(--accent-dark);
}
.dark-mode .django,
.dark-mode .wordpress,
.dark-mode .tailwind {
  fill: var(--primary-dark);
}

.secondary-button:hover {
  background-color: var(--secondary-dark);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style-type: none;
}

a {
  all: unset;
  cursor: pointer;
}

/*  Typography */
:root {
  --font-size-base: clamp(13.33px, 16px, 19.2px);
  --font-size-md: clamp(19.2px, 23.04px, 27.65px);
  --font-size-lg: clamp(23.04px, 27.65px, 33.18px);
  --font-size-xl: clamp(27.65px, 33.18px, 39.81px);
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-base);
}

h1,
h2 {
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--medium-spacing);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

caption {
  font-size: var(--font-size-sm);
}

p {
  line-height: 1.5;
}

/* Spacing */
:root {
  --small-spacing: 15px;
  --medium-spacing: 30px;
  --large-spacing: 60px;
  --x-large-spacing: 120px;
}

/* Navigation */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--medium-spacing);
  color: var(--primary-light);
}

nav ul {
  display: flex;
  gap: var(--medium-spacing);
  align-items: center;
  list-style: none;
  color: var(--primary-light);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-size: var(--font-size-sm);
}
nav ul li {
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
}
nav ul li:hover {
  background-color: var(--secondary-light);
}
@media screen and (min-width: 768px) {
  nav ul {
    justify-content: flex-end;
    gap: var(--medium-spacing);
    font-size: var(--font-size-md);
  }
}

body {
  padding: var(--medium-spacing);
}
@media screen and (min-width: 768px) {
  body {
    padding: var(--large-spacing);
  }
}

header {
  margin-bottom: var(--medium-spacing);
}

.slider-container {
  width: 50px;
  height: 20px;
  border: 1px solid var(--primary-light);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.slider-icon {
  width: 20px;
  height: 20px;
  background-color: var(--primary-light);
  border-radius: 50%;
  transition: transform 0.3s;
  position: absolute;
}

.display-mode-toggle {
  display: flex;
  gap: 10px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: var(--medium-spacing);
}

/* About page */
section {
  display: flex;
  flex-wrap: wrap;
}

.fixed-column {
  width: 40%;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-right: var(--medium-spacing);
  margin-bottom: var(--medium-spacing);
}
.fixed-column h2 {
  margin-bottom: var(--medium-spacing);
}

.scrollable-column {
  flex-grow: 1;
  margin-left: 50%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
  padding-top: var(--medium-spacing);
}
@media screen and (min-width: 768px) {
  .scrollable-column {
    padding-top: 0;
  }
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
  .fixed-column {
    position: static;
    width: 100%;
    margin-left: 0;
  }
  .scrollable-column {
    margin-left: 0;
  }
}
span {
  color: var(--primary-light);
  font-weight: bold;
}

.circle {
  margin-top: var(--small-spacing);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("/images/profile.webp");
  background-size: cover;
}

.circle::before {
  content: "";
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--primary-light);
  position: relative;
  z-index: -1;
  margin-left: 50px;
}

hr {
  height: 4px;
  background-image: linear-gradient(to right, var(--primary-light), transparent);
  border: none;
}

.socials li {
  border-bottom: #0068b7 solid;
  padding-bottom: 5px;
  width: fit-content;
  margin-bottom: var(--small-spacing);
}

ol {
  display: flex;
  gap: var(--small-spacing);
  margin: 0 auto;
}
ol li {
  border: 1px dashed rgba(0, 104, 183, 0.8);
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
}
ol li:hover {
  border: 2px solid rgba(0, 104, 183, 0.8);
}

/* Single post page */
article h1 {
  font-size: var(--font-size-lg);
}
article h2 {
  font-size: var(--font-size-md);
  margin: var(--medium-spacing) 0 var(--small-spacing);
}
article p {
  margin-bottom: var(--small-spacing);
}
article h1 + p {
  margin-bottom: var(--medium-spacing);
}
article ul {
  list-style-type: disc;
  margin-left: var(--small-spacing);
}
@media screen and (min-width: 992px) {
  article {
    max-width: clamp(50ch, 75ch, 100%);
  }
}

/* Articles index page  */
.articles-list {
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
  margin-bottom: var(--medium-spacing);
}
.articles-list li {
  display: flex;
  flex-direction: column;
  gap: var(--small-spacing);
  padding: var(--small-spacing);
  border: 1px dashed var(--primary-light);
  position: relative;
}
.articles-list span {
  text-transform: uppercase;
  font-size: 20px;
}
@media screen and (min-width: 992px) {
  .articles-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .articles-list li {
    flex-basis: 30%;
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  width: fit-content;
  padding: 10px 10px 10px 10px;
  background-color: var(--secondary-light);
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.tag:hover {
  outline: 2px solid var(--primary-light);
}

button {
  background-color: inherit;
  border: none;
}

.secondary-button {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: var(--medium-spacing);
  border: 2px solid var(--primary-light);
  color: var(--primary-light);
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  width: fit-content;
}
.secondary-button button {
  width: fit-content;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: var(--primary-light);
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}
.secondary-button svg {
  fill: var(--primary-light);
}

.project-card svg,
.feat-projects svg {
  height: 20px;
  width: 20px;
  color: var(--primary-light);
}

.feat-projects,
.feat-posts {
  display: flex;
  gap: var(--small-spacing);
  flex-wrap: wrap;
}

.feat-projects li {
  display: flex;
  flex-direction: column;
  gap: var(--small-spacing);
}

.feat-posts h3 {
  margin-bottom: var(--small-spacing);
}

.feat-projects img {
  border-radius: 5px;
  max-width: 300px;
}

@media screen and (min-width: 992px) {
  .feat-posts li {
    max-width: 300px;
  }
}
code {
  background-color: #f2f2f2;
}

.skills-badges {
  display: flex;
  gap: var(--small-spacing);
  flex-wrap: wrap;
}

.skills-badges svg {
  width: 50px;
  height: 50px;
}

.wordpress,
.tailwind {
  fill: var(--primary-light);
}

.django {
  fill: #092E20;
}

/*# sourceMappingURL=styles.css.map */
