
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif;
  }
 
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  h1, h2 {
    font-family: 'IBM Plex Mono', monospace;
  }

  li {
    list-style-type: none;
  }

  span {
    color:#0068B7;
    font-weight:bold;
  }
  
.container {
  display: flex;
  gap: 80px;
}

  .circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url('/images/profile.webp');
    background-size: cover;
  }
  
  .circle::before {
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #0068B7;
    position: relative;
    z-index: -1;
    margin-left: 50px;
  }

.twitter {
  height: 24px;
  background-image: url('/images/twitter.svg');
  background-repeat: no-repeat;
}

.github {
  height: 24px;
  background-image: url('/images/github.svg');
  background-repeat: no-repeat;
}

.email {
  height: 24px;
  background-image: url('/images/mail.svg');
  background-repeat: no-repeat;
}