---
title: "Contact"
layout: "base.njk"
---

<h1>Get in touch</h1>

<form action="https://getform.io/f/ad32ce34-6577-47b1-aca9-76f088974378" method="POST">
     <div class="fieldset">
       <label for="name">Name</label>
       <input type="text" id="name" name="name" required>
     </div>
     <div class="fieldset">
       <label for="email">Email</label>
       <input type="email" id="email" name="email" required>
     </div>
     <div class="fieldset">
       <label for="message">Message</label>
       <textarea id="message" name="message" required></textarea>
     </div>
     <button type="submit">Submit</button>
</form>