---
title: "Contact"
layout: "base.njk"
---

<h1>Get in touch</h1>

<form id="contactForm"  data-netlify="true" method="POST">
     <div class="fieldset">
       <label for="name">Name</label>
       <input type="text" id="name" name="name" required>
     </div>
     <div class="fieldset">
       <label for="email">Email</label>
       <input type="email" id="email" name="email" required>
     </div>
     <div class="fieldset">
       <label for="message">Message</label>
       <textarea id="message" name="message" required></textarea>
     </div>
     <button type="submit">Submit</button>
</form>

<div id="thankYouMessage" style="display: none;">
  Thank you for your submission!
</div>