---
title: "Anna Cunnane"
layout: "base.njk"
data: 
  - collections.projects
  - collections.writing
---

<section>
<div class="fixed-column">
<h1> 👋 Hi, I'm Anna</h1>
<h2>I'm a <span>software developer</span> based in London</h2>
<div class="circle"></div>
</div>
<hr>
<div class="scrollable-column">
    <h2>Contact me</h2>
    <ul class='socials'>
    <li class="email"><a href="mailto:anna_cunnane@proton.me"> anna_cunnane@proton.me</a></li>
   <li class="github"> <a href="https://github.com/Moggach"> Github</a></li>
   <li class="linkedin"> <a href="https://www.linkedin.com/in/annacunnane/"> LinkedIn</a></li>
    <li class="rss"><a href="/feed.xml"> RSS feed</a></li>
    </ul>
<hr>
    <h2>About me</h2>
<p>I'm a software engineer at <a href="https://policyinpractice.co.uk/">Policy in Practice</a> working on the award winning <a href='https://www.betteroffcalculator.co.uk/'>Better Off benefits calculator</a></p>
<p> Previously I worked at <a href="https://commonknowledge.coop/">Common Knowledge</a> - 
a co-operative that uses technology to help social movements build power</p>
<p>I graduated from the full stack web development bootcamp <a href="https://www.foundersandcoders.com/">Founders and Coders</a> in 2021. 
I completed a <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/courses/2">Software developer (level 4) apprenticeship</a> with a merit in 2023</p>
<p>I worked for 5 years in the VAWG sector and I built and maintain <a href="https://domesticabuseservices.uk/?page=1">a website</a> to help professionals and survivors find their local domestic abuse support service</p>
<p>Have a question or want to work together? Get in touch at <a href="mailto:anna_cunnane@proton.me"> anna_cunnane@proton.me</a></p>
 <hr>
 <h2>Projects</h2>
 <ul class="feat-projects">
  {%- for project in collections.projects -%}
{% if project.data.featured == "yes" %}
<li>

<h3> {{ project.data.title }}</h3>
<img src="{{ project.data.img }}" alt="{{ project.data.alt }}"/>
 <a href="{{ project.data.link }}">
    <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
        /></svg
    >
        <span class="hidden">External link to project {{ project.data.title }}<span></a>

    </li>

{% endif %}
{%- endfor -%}
</ul>
<div class="secondary-button">
 <a href="/projects">View all projects -></a>
</div>
<hr>
<h2>Writing</h2>
<ul class="feat-posts">
{%- for article in collections.writing | reverse | limit(4) -%}
<li>
<a href="{{ article.url }}">
<h3>{{ article.data.title }}</h3>
<p>{{ article.data.excerpt | wordLimit(20) }} </p>
</a>
</li>
{% endfor %}
</ul>
<div class="secondary-button">
 <a href="/writing">View all posts -></a>
</div>
</section>
