---
title: "Anna Cunnane"
layout: "base.njk"
data: 
  - collections.projects
  - collections.writing
---

<section>
<div class="fixed-column">
<h1>Hi, I'm Anna</h1>
<h2>I'm a <span>software developer</span> based in London</h2>
<div class="circle"></div>
</div>
<hr>
<div class="scrollable-column">
    <h2>Contact me</h2>
    <ul class='socials'>
    <li class="email"><a href="mailto:anna_cunnane@proton.me"> anna_cunnane@proton.me</a></li>
   <li class="github"> <a href="https://github.com/Moggach"> Github</a></li>
   <li class="linkedin"> <a href="https://www.linkedin.com/in/annacunnane/"> LinkedIn</a></li>
    <li class="rss"><a href="/feed.xml"> RSS feed</a></li>
    </ul>
<hr>
    <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec ex mattis, commodo sapien vitae, faucibus justo. Morbi cursus ullamcorper turpis ut faucibus. Pellentesque iaculis viverra feugiat. Suspendisse quis purus non odio aliquam interdum sit amet et tellus. Curabitur et mattis lorem, nec malesuada nisl. Duis ac rhoncus diam, vel tincidunt mi. Aenean pellentesque libero ut nibh gravida consequat. Fusce et ante nec velit congue efficitur. In luctus lorem nulla, in semper enim gravida eget. Nam finibus massa efficitur condimentum consectetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec ex mattis, commodo sapien vitae, faucibus justo. Morbi cursus ullamcorper turpis ut faucibus. Pellentesque iaculis viverra feugiat. Suspendisse quis purus non odio aliquam interdum sit amet et tellus. Curabitur et mattis lorem, nec malesuada nisl. Duis ac rhoncus diam, vel tincidunt mi. Aenean pellentesque libero ut nibh gravida consequat. Fusce et ante nec velit congue efficitur. In luctus lorem nulla, in semper enim gravida eget. Nam finibus massa efficitur condimentum consectetur.</p>
 <hr>
 <h2>Projects</h2>
 <ul class="feat-projects">
  {%- for project in collections.projects -%}
{% if project.data.featured == "yes" %}
<li>

<h3> {{ project.data.title }}</h3>
<img src="https://placekitten.com/300/200"/>
 <a href="{{ project.data.link }}">
    <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
      >
        <path
          stroke="#0068b7"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
        /></svg
    >
</a>
    </li>

{% endif %}
{%- endfor -%}
</ul>
<div class="secondary-button">
 <a href="/projects">View all projects -></a>
</div>
<hr>
<h2>Writing</h2>
<ul class="feat-posts">
{%- for article in collections.writing | reverse | limit(4) -%}
<li>
<a href="{{ article.url }}">
<h3>{{ article.data.title }}</h3>
<p>{{ article.data.excerpt | wordLimit(20) }} </p>
</a>
</li>
{% endfor %}
</ul>
<div class="secondary-button">
 <a href="/writing">View all posts -></a>
</div>
</section>
