---
title: Projects
layout: "base.njk"
pagination:
  data: collections.projects
  size: 9
  reverse: true
---

<h1>{{title}}</h1>
<ul class="articles-list">
  {%- for project in collections.projects -%}

  <li class="project-card">
    <h2>{{ project.data.title }}</h2>
    <p>{{ project.data.description }}</p>
    <img src="{{ project.data.img }}" />
    <a href="{{ project.data.link }}">
      <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
      >
        <path
          stroke="#0068b7"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
        /></svg
    ></a>
  </li>
  {%- endfor -%}
</ul>
