---
title: "Projects"
layout: "base.njk"
---


<h1>{{title}}</h1>
<ul class="articles-list">
<li class="project-card">
<h2>Project title</h2>
<p>A description of the project goes here</p><img src="https://placekitten.com/300/300">
Link icon</li>
<li class="project-card">
<h2>Project title</h2>
<p>A description of the project goes here</p><img src="https://placekitten.com/300/300">
Link icon</li>
<li class="project-card">
<h2>Project title</h2>
<p>A description of the project goes here</p><img src="https://placekitten.com/300/300">
Link icon</li>
<li class="project-card">
<h2>Project title</h2>
<p>A description of the project goes here</p><img src="https://placekitten.com/300/300">
Link icon
<div class="tag"><em>#WordPress</em>
</li>

</ul>