---
title: Projects
layout: "base.njk"
pagination:
  data: collections.projects
  size: 9
  reverse: true
---


<h1>{{title}}</h1>
<ul class="articles-list">

{%- for project in collections.projects -%}

<li class="project-card">
<h2>{{ project.data.title }}</h2>
<p>{{ project.data.description }}</p><img src="{{ project.data.img }}">
Link icon</li>
{%- endfor -%}

</ul>