---
layout: "base.njk"
pagination:
    data: collections
    size: 1
    alias: tag
permalink: /tags/{{ tag }}/
---

   <h1>Tagged "{{ tag }}"</h1>
   <ul class="articles-list">

     {% set taglist = collections[tag] %}
     {% for article in taglist | reverse %}
       <li><a href="{{ article.url }}"><h2>{{ article.data.title }}</h2></a>
       
<span>{{ article.data.date | date }}</span>

<p>{{ article.data.excerpt }}</p>


</li>
{% endfor %}

</ul>       