---
title: Writing
layout: "base.njk"
pagination:
  data: collections.writing
  size: 9
  reverse: true
  alias: articles
---
<h1>Writing</h1>
<ul class="articles-list">
{% for article in articles %}
<li>
<a href="{{ article.url }}">
<h2>{{ article.data.title }}</h2>
</a>

<span>{{ article.data.date | date }}</span>

<p>{{ article.data.excerpt }}</p>
<div class="tags-container">

{% for tag in article.data.tags.slice(1) %}
  <a href="/tags/{{ tag }}"><div class="tag"><em>#{{ tag }}</em></div></a>

{% endfor %}
</div>

</li>
{% endfor %}
</ul>

<ol>
{%- for pageEntry in pagination.pages %}
    <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}> {{ loop.index }}</a></li>
{%- endfor %}
  </ol>
