---
title: Writing
layout: "base.njk"
pagination:
  data: collections.writing
  size: 6
  reverse: true
  alias: articles
---
<ul>
{% for article in articles %}
<li>
<a href="{{ article.url }}"><h2>{{ article.data.title }}</h2></a>
{{ article.data.date | date }}
<p>{{ article.data.excerpt }}</p>
</li>
{% endfor %}
</ul>

<ol>
{%- for pageEntry in pagination.pages %}
    <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}> {{ loop.index }}</a></li>
{%- endfor %}
  </ol>
